Repository ahmedavid/voting-app-azure-devops-aks-cicd: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/result-app.yml, pipelines/worker-app.yml

pipelines/result-app.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - result

variables:
  imageRepository: resultapp

pool:
  name: OCIPool

stages:
  - stage: BuildDockerImage
    displayName: Build Docker Image Stage
    jobs:
      - job: BuildDockerImageJob
        displayName: Build Docker Image Job
        steps:
        - task: Docker@2
          displayName: Build Docker Image Task
          inputs:
            containerRegistry: 'ahmedavid-docker-registry'
            repository: 'ahmedavid/voting-result'
            command: 'buildAndPush'
            Dockerfile: '**/result/Dockerfile'
# steps:
# - script: echo Hello, world!
#   displayName: 'Run a one-line script'

# - script: |
#     echo Add other tasks to build, test, and deploy your project.
#     echo See https://aka.ms/yaml
#   displayName: 'Run a multi-line script'

pipelines/worker-app.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - worker/*

pool:
  name: OCIPool

stages:
  - stage: BuildDockerImage
    displayName: Build Docker Image Stage
    jobs:
      - job: BuildDockerImageJob
        displayName: Build Docker Image Job
        steps:
        - task: Docker@2
          displayName: Build Docker Image Task
          inputs:
            containerRegistry: 'ahmedavid-docker-registry'
            repository: 'ahmedavid/voting-worker'
            command: 'build'
            Dockerfile: '**/worker/Dockerfile'
            tags: |
              $(Build.BuildId)
              latest
        - task: Docker@2
          displayName: Push Docker Image Task
          inputs:
            containerRegistry: 'ahmedavid-docker-registry'
            repository: 'ahmedavid/voting-worker'
            command: 'push'
            Dockerfile: '**/worker/Dockerfile'
            tags: |
              $(Build.BuildId)
              latest

fix
  infra/bicep/echo.kube.yaml
  infra/bicep/ingress-nginx.sh
  infra/k8s/db.yaml
  infra/k8s/ns.yaml
  infra/k8s/redis.yaml
  infra/k8s/result.yaml
  infra/k8s/vote.yaml
  infra/k8s/worker.yaml
Due: none

test
  infra/k8s/result-deployment.yaml
  infra/k8s/result-service.yaml
  infra/k8s/vote-deployment.yaml
  infra/k8s/vote-service.yaml
  infra/k8s/worker-deployment.yaml
  infra/scripts/updateK8sManifests.sh
  pipelines/result-app.yml
  pipelines/voting-app.yml
  pipelines/worker-app.yml
  result/README.md
  vote/README.md
  worker/README.md
Due: pipelines/result-app.yml, pipelines/worker-app.yml

test
  pipelines/result-app.yml
  pipelines/voting-app.yml
  pipelines/worker-app.yml
Due: none

test
  result/README.md
  vote/README.md
  worker/README.md
Due: pipelines/result-app.yml, pipelines/worker-app.yml

test
  pipelines/result-app.yml
  pipelines/voting-app.yml
  pipelines/worker-app.yml
  result/README.md
  vote/README.md
  worker/README.md
Due: pipelines/result-app.yml, pipelines/worker-app.yml

test
  pipelines/result-app.yml
  pipelines/voting-app.yml
  pipelines/worker-app.yml
  result/README.md
Due: pipelines/result-app.yml

Update Kubernetes manifest
  infra/k8s/result-deployment.yaml
Due: none

test
  vote/README.md
  worker/README.md
Due: pipelines/worker-app.yml

Update Kubernetes manifest
  infra/k8s/worker-deployment.yaml
Due: none

Update Kubernetes manifest
  infra/k8s/vote-deployment.yaml
Due: none

test vote
  vote/app.py
Due: none
